html {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

body {
    display: table;
    width: 100%;
    height: 100%;
}

.ym-login {
    display: table-cell;
    vertical-align: middle;
}

.ym-login > .login-wrap {
    width: 350px;
    height: 520px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid #d8dee2;
    background-color: #fff;
}

.ym-login > .login-wrap .login-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ym-login > .login-wrap .login-header:before {
    content: " ";
    position: absolute;
    bottom:  -1px;
    height: 0;
    width: 50%;
    left: 25%;
    right: 25%;
    background-color: inherit;
    border-bottom: 1px solid #eeeeee;
}

.ym-login > .login-wrap .login-header .login-logo {
    display: block;
    max-width: 80%;
    max-height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.ym-login > .login-wrap .login-header .login-title {
    margin: 0;
    font-size: 15px;
    line-height: 15px;
    padding-top: 18px;
    color: #333;
    text-align: center;
}

.ym-login .form-group-icon {
    padding: 0 15px !important;
    font-size: 18px !important;

}

.p-24 {
    padding: 24px !important;
}

.focus-define:focus {
    box-shadow: 0 0 0 1px #337ab7;
    -webkit-box-shadow: 0 0 0 1px #337ab7;
}

.next-step {
    width: 100%;
    margin-top: 18px;
}

.pt-0 {
    padding-top: 0 !important;
}

.top-line {
    position: relative;
    z-index: 0;
}

.top-line:before {
    content: " ";
    position: absolute;
    top:  -1px;
    height: 0;
    width: 80%;
    left: 10%;
    right: 10%;
    background-color: inherit;
    border-top: 1px solid #eeeeee;
}

.other-loginway {
    width: 100px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 8px;
    background-color: #fff;
    text-align: center;
}

.other-loginbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.other-loginbody>.way-item {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.other-loginbody>.way-item p {
    margin: 0;
    font-size: 12px;
    padding-top: 6px;
}

.saom-login {
    width: 30px;
    height: 30px;
}